.wrapper-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
/* #cell {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(202, 255, 127);
  font-size: 23px;
  font-weight: 600;
} */

td{
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(202, 255, 127);
  font-size: 23px;
  font-weight: 600;
}

#attack{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(255, 138, 127);
  font-size: 23px;
  font-weight: 600;

}