.wrapper-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
/* #cell {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(202, 255, 127);
  font-size: 23px;
  font-weight: 600;
} */

td{
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(202, 255, 127);
  font-size: 23px;
  font-weight: 600;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 23px;
  font-weight: 600;
}
#reset{
  background-color: rgb(127, 187, 255);
}
#attack{
  background-color: rgb(255, 202, 127);
}
#flame{
  background-color: rgb(255, 104, 90);
}